<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/user-account.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/user-account.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>easy_pay</title>
</head>
<body>
<div class="main_container" id="mainContainer" th:object="${user}">
    <div class="header">
        <h1>Easy Pay</h1>
        <div>
            <button class="create_account_button" type="button" th:onclick="createAccount()">create account</button>
        </div>
        <div>
            <button class="logout_button" type="button" th:onclick="logout()">logout</button>
        </div>
    </div>
    <div id="content" class="content">
        <div class="account" th:each="account: ${user.accounts}">
            <div class="user_info">
                <div class="account_item">
                    <label>Email: </label>
                    <span th:text="${user.email}"></span>
                </div>
                <div class="account_item">
                    <label>Firstname: </label>
                    <span th:text="${user.firstName}"></span>
                </div>
                <div class="account_item">
                    <label>Lastname: </label>
                    <span th:text="${user.lastName}"></span>
                </div>
            </div>

            <div class="account_info">
                <div class="account_item">
                    <label>Account_ID: </label>
                    <span th:text="${account.id}"></span>
                </div>
                <div class="account_item">
                    <label>Balance: </label>
                    <span th:text="${account.currency.equals('Dollar')} ? ${account.balance} + '$' : ${account.balance} + '€'"></span>
                </div>
                <div class="account_item">
                    <label>Currency: </label>
                    <span th:text="${account.currency}"></span>
                </div>
            </div>

            <div class="account_item">
                <button  th:value="${account.id}" onclick="accountPage($(this).val())">Go to account</button>
            </div>

        </div>
    </div>
</div>

</body>
</html>